alembic==1.11.1
Flask==2.3.2
Flask_Bcrypt==1.0.1
Flask_Login==0.6.2
Flask_Mail==0.9.1
Flask_Migrate==4.0.4
flask_sqlalchemy==3.1.1
Flask_WTF==1.1.1
python-dotenv==1.0.1
SQLAlchemy==2.0.10
SQLAlchemy==1.4.31
validate_email_address==1
