<!-- app/templates/admin/dashboard.html -->

{% extends "base.html" %}

{% block title %}
Dashboard de Administración
{% endblock %}

{% block content %}
<h5 class="mt-5">Dashboard de Administración</h5>

<div class="container mt-5">

    <!-- Formulario de búsqueda -->
    <form id="search-form" method="GET" action="{{ url_for('dashboard.dashboard') }}" class="mb-3">
        <div class="input-group">
            <input type="text" id="search-input" class="form-control" placeholder="Buscar por nombre o correo..." name="search" value="{{ search_query }}">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </form>

    <!-- Tabla de usuarios -->
    <table class="table table-striped table-bordered">
        <thead class="small" >
            <tr>
                <th>ID</th>
                <th>USER</th>
                <th>E-MAIL</th>
                <!--<th>PASSWORD</th>-->
                <th>ADMIN</th>
                <!--<th>VERIFICATION CODE</th>-->
                <th>VERIFIED</th>
                <th>PIN</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody id="users-table">
            {% for user in users.items %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <!--<td>{{ user.password_hash }}</td>-->
                <td>{{ 'Sí' if user.is_admin else 'No' }}</td>
                <!--<td>{{ user.verification_code}}</td>-->
                <td>{{ 'Sí' if user.is_verified else 'No' }}</td>
                <td>{{ user.recovery_pin}}</td>
                <td>
                    <a href="{{ url_for('dashboard.edit_user', user_id=user.id) }}"
                        class="btn btn-warning btn-sm mb-1 mt-1">
                        Editar
                    </a>
                    <form action="{{ url_for('dashboard.delete_user', user_id=user.id) }}" method="POST" style="display:inline;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit"
                            class="btn btn-danger btn-sm"
                            onclick="return confirm('¿seguro que deseas eliminar este usuario?');">
                            Eliminar
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Paginación -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if users.has_prev %}
            <li class="page-item">
                <a class="page-link"
                    style="font-size: 14px;"
                    href="{{ url_for('dashboard.dashboard', page=users.prev_num, search=search_query) }}">
                    anterior
                </a>
            </li>
            {% endif %}
            {% for page_num in users.iter_pages(left_edge=2, right_edge=2) %}
            <li class="page-item {{ 'active' if page_num == users.page else '' }}">
                <a class="page-link"
                    style="font-size: 14px;"
                    href="{{ url_for('dashboard.dashboard', page=page_num, search=search_query) }}">
                    {{ page_num }}
                </a>
            </li>
            {% endfor %}
            {% if users.has_next %}
            <li class="page-item">
                <a class="page-link"
                    style="font-size: 14px;"
                    href="{{ url_for('dashboard.dashboard', page=users.next_num, search=search_query) }}">
                    siguiente
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <a class="btn btn-primary mt-3"
        style="font-size: 14px;"
        href="{{ url_for('dashboard.add_user') }}">
        nuevo usuario
    </a>
</div>

<!-- Script para búsqueda en tiempo real -->
<script>
    document.getElementById('search-input').addEventListener('input', function() {
        const searchQuery = this.value;

        fetch(`{{ url_for('dashboard.dashboard') }}?search=${encodeURIComponent(searchQuery)}`)
            .then(response => response.text())
            .then(data => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(data, 'text/html');
                const newTable = doc.getElementById('users-table').innerHTML;
                document.getElementById('users-table').innerHTML = newTable;
            })
            .catch(error => console.error('Error:', error));
    });
</script>

{% endblock %}
