{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="text-lg-start mt-3 " >
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">We're very happy to have you here</p>
    <p style="font-size: large;">
        Web Base Template 1.0 is an application designed to serve as a solid starting point for developing robust web applications. Its modular and well-organized structure allows developers to focus on implementing specific features like e-commerce, blogs, or booking systems without worrying about tedious or repetitive initial setups.
    </p>
</div>
{% endblock %}

